* {
 margin:0;
 }
.container{
	border:5px solid black;
	margin:10px;
	text-align:center;
	display:grid;
	grid-template-rows:2fr 8fr;
}	
header {
	background-color:#ff4d4d;
	height:100px;
	line-height:100px;
	text-align:left;
	left:30px;
}
#logo img{
	height:100px;;
	width:100px;
}
footer {
	background-color:#ff4d4d;
	border-top:5px solid black;
	padding: 18px 0;
}
#contents{
	display:grid;
	grid-template-columns:3fr 7fr;
}
#contents-footer{
	display:grid;
	grid-template-rows:8fr 2fr;
	
}
.col {
	float:left;
	background-color:#80ff00;
}
#nav {
	border-right:5px solid black;
	border-top:5px solid black;
	box-sizing:border-box;
	line-height:2000%;
}
#content {
	border-top:5px solid black;
	background-color:#00bfff;
	box-sizing:border-box;
	line-height:1800%;
}